@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 8px 50px;
}

.button-light {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.field {
  width: 100%;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #F2F2F2;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.field::placeholder {
  opacity: 0.6;
}

.product-favourites {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.product-favourites-active {
  background-color: #7DB54F;
}

.nav-list, .user-list, .advantages-list, .breadcrumbs-item, .filter-list, .view-type, .product-list, .pagination-item, .social-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav {
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding-left: 70px;
  gap: 30px;
}

.header-logo {
  display: block;
  position: relative;
  margin-bottom: -6px;
  z-index: 2;
}

.nav-list {
  display: flex;
  justify-content: left;
  width: 464px;
  margin-right: auto;
}

.nav-link {
  display: inline-block;
  padding: 20px 16px;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.nav-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
}

.user-list {
  display: flex;
  width: 132px;
  height: 64px;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.user-link {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;

}

.user-link-search {
  background-image: url("../images/svg/magnifying_glass.svg");
}

.user-link-favourites {
  background-image: url("../images/svg/favourites.svg")
}

.user-favourites-num {
  background-color:#7DB54F;
  border-radius: 10px;

  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  margin: 11px 4px 33px 20px;
  padding: 4% 5%;
}

.menu-button {
  padding: 8px 34px;
  width: 160px;
  height: 36px;
  margin-top: 14px;
  margin-right: 70px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 50px 70px 82px;
  background-image: url("../images/svg/hero-border.svg"), url("../images/index-background.jpg");
  background-color: #343e47;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom center;

  text-align: center;
  color: #ffffff;
}

.page-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-title {
  padding: 69px 290px 25px;
}

.page-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-text {
  padding-bottom: 69px;
}

.blocks-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.blocks-text {
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 385px 385px 385px;
}

.advantages-item {
  background-color: #83B3D333;
  width: 400px;
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: #83B3D31F;
}

.advantages-item-full {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

.advantages-img {
  width: 800px;
  margin: 0;
}

.advantages-content {
  padding: 103px 85px;
  text-align: center;
}

.advantages-item-full .advantages-subtitle {
  color: #ffffff;
}

.advantages-subtitle::first-line {
  text-decoration: underline;
  text-decoration-color: #FFFFFF4D;
  text-underline-offset: 60px;
}

.advantages-description {
  padding-top: 62px;
}

.services-title {
  padding: 64px 347px 20px;
}

.services-text {
  padding-bottom: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
}

.services-item {
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 75px 72px;
  text-align: center;

  width: 400px;
  height: 385px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-item-house {
  background-image: url("../images/svg/house.svg");
}

.services-item-food {
  background-image: url("../images/svg/food.svg");
}

.services-item-souvenirs {
  background-image: url("../images/svg/souvenirs.svg");
}

.services-subtitle {
  width: 230px;
  padding-top: 183px;
}

.services-description {
  width: 230px;
}

.search-title {
  padding: 96px 304px 20px;
}

.search-text {
  padding: 0 304px 27px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  margin: 27px 412px 96px;
}

.subscribe-home {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 96px 258px 104px;

  text-align: center;
  color: #ffffff;

}

.subscribe-title, .subscribe-text {
  color: #ffffff;
}

.subscribe-title {
  padding-bottom: 20px;
}

.subscribe-text {
  padding: 0 104px 54px;
}

.subscribe-input {
  border-radius: 4px 0 0 4px;
  height: 52px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  opacity: 0.6;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
  grid-template-rows: 52px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 41px;
  width: 1060px;
  margin: 40px 70px 30px;
}

.footer-social {
  width: 142px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 41px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-item {
  width: 47px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color:#000000;
  padding: 5px 195px;
}

.htmlacademy-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  line-height: 21px;
  font-size: 16px;
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/svg/breadcrumbs_house.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.control-text {
  line-height: 23px;
}

.filter {
  color: #ffffff;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
}

.filter-main-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-link-active {
  border: solid #000000;
}

.view-link-tile {
  background-image: url("../images/svg/view-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/svg/view-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/svg/view-list.svg");
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product-rating-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.product-rating-star {
  display: block;
  height: 37px;
  background-image: url("../images/svg/four-stars.svg");
  background-repeat: no-repeat;
  background-position: left center;;
}

.product-rating-star-4 {
  width: 90px;
}

.product-rating-star-3 {
  width: 70px;
}

.product-rating-star-2 {
  width: 50px;
}


.pagination-link {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  border-color: transparent;
  color: #000000;
  pointer-events: none;
}

.pagination-link-more {
  background-color: transparent;
  border-color: transparent;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
}
